
    <div id= "zipCat"> 
        <form method="GET" action="/cats"> 
            <label id="ZipFormText1" for="nameFilter"> For a Custom Search, please write Zip Code Below: </label> 
            <input id="ZipFormTextArea1" type="text" placeholder="Search.." id="zipilter" name="zipFilter">    
            <button id="ZipFormSearchButton1" type="submit" value="search"> <i class="fa fa-search"> </i></button>
        </form>
        </div>
<div id="catPageBackgroundPic"> 
    <!-- <h3 id="animalPageHeader"> All Available Furry Friends</h3> -->
    <!-- <a id="favLink" href="/favorites"> Click Here To See Your Favorites</a> -->
    <div id="dogContainer"> 
        <% allCats.animals.forEach(c=>{ %>
            <div class="dog">
                <div id="dogText"> 
                    <p> <b>Animal Type: </b><%=c.type%></p>
                    <p> <b>Furry Friend's Name: </b><%=c.name%></p>
                    <p> <b>Gender: </b><%=c.gender%></p>
                    <p> <b>Breed: </b><%=c.breeds.primary%></p>
                </div>
                <%if(c.primary_photo_cropped){ %>
                     <p>
                        <img id="animalImg" src="<%=c.primary_photo_cropped.medium%>"<% alt="no img" %> width="300"> 
                     </p>
                     <% }  else {%> 
                    
                        <p>
                           <img id="animalImg" src="https://cdn.shopify.com/s/files/1/0642/2007/products/cake-photo-coming-soon_grande.png?v=1603897276"/> 
                        </p>
          <% } %>

                <form method="POST" action="/favorites">
                    <input hidden type="text" name="name" value="<%= c.name %>">
                    <input hidden type="text" name="id" value="<%= c.id %>">
                    <input hidden type="text" name="contact" value="<%= c.contact.email%>">
                    <input hidden type="text" name="status" value="<%= c.status%>">
                    <input hidden type="text" name="description" value="<%= c.description%>">
                    <input hidden type="text" name="location" value="<%= c.contact.address.city%>">
                    <%if(c.primary_photo_cropped){ %> 
                        <input hidden type="text" name="photo" value="<%= c.primary_photo_cropped.small%>">  <% } %>
                        <!-- <input hidden type="text" name="photo" value="no photo">      -->
                    <button class="btn btn-primary" id="buttonHeart" type="submit">Heart This Pet</button>
                </form>
            </div>
            <% }) %>
    </div>           
</div>