<h3 id="fav"> Your Favorite Pets </h3>
<a id="return" href="/animals">&larr; Return to Profile</a>
<% favAnimalList.forEach(function(animal) { %>


<hr />
    <div class="well">
        <p id="favImg"> 
            <img id="favPetImg" src="<%=animal.Photo%>"<% alt="no img" %>> 
        </p> 
        <p class="information">
            Name: <%= animal.PetName %> <br> 
            Status: <%= animal.Status %> <br>
            Contact: <%= animal.Contact %> <br> 
            Location: <%= animal.Location %>  <br>Mention My Reference Id Number <%= animal.ReferenceId %> Description:  <br> <%= animal.Description %> 
        </p>   
 
        <form method="POST" action="/favorites/<%=animal.id%>/?_method=PUT">
            <label id="note" for="comment">WRITE A NOTE</label>
            <textarea id="comment" type="text" name="comment" > I Love this Pet</textarea>
            <br>
            <button class="btn-primary" id="commentSubmit" type="submit">Submit</button>
            <a id="seeComments" href="/comments/<%=animal.id%>"> See note</a>
        </form>
<!--         
        <form method="GET" action="/comments/<%=animal.id%>">
            <button class="btn-primary" id="view" type="submit">View Note</button>
        </form> -->
    </div>
        
        <form method="POST" action="/favorites/<%=animal.id%>/?_method=DELETE">
            <input id="delete" type="submit" value="Remove From List">
        </form>
        
        <% }) %>
        
        
        
