<h1> Favorited Pets</h1>

<% favAnimalList.forEach(function(animal) { %>
<hr />
    <div class="well">
        <p>Name: <%= animal.PetName %> <br> Status: <%= animal.Status %> <br>Contact: <%= animal.Contact %> <br>Mention My Reference Id Number <%= animal.ReferenceId %> </p> 
        <p> <img src="<%=animal.Photo%>"<% alt="no img" %> %> </p> 
        <p> <%= animal.Description %>   </p> 
        <form method="POST" action="/favorites/<%=animal.id%>/?_method=DELETE">
            <input id="delete" type="submit" value="Delete">
         </form>
         <form method="POST" action="/favorites/<%=animal.id%>/?_method=PUT">
            <label for="comment">Write a Note</label><br>
            <input type="text" name="comment"> 
            <br>
            <button class="btn btn-primary" id="button" type="submit">Submit</button>
        </form>
        <form method="GET" action="/comments">
            <button class="btn btn-primary" id="button" type="submit">View Note About this Pet</button>
        </form>


<% }) %>
    </div>

<a href="/animals">&larr; Return to View All Animals</a>